/* this is all subject to change */
:root {
  --background-color: #fff;
  --slide-in-distance: 80px;
  --text-color: rgb(0 0 0 / 0.87);
  --timing: cubic-bezier(0, 0.6, 0, 1);
}

::selection { background-color: #00b99f }

body {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

#cap {
  animation: cap-slide-in .8s var(--timing);
  clip-path: polygon(66% 0, 77% 57%, 100% 74%, 100% 80%, 72% 100%, 45% 100%, 0 78%, 0% 29%, 30% 0);
  transition: transform .15s cubic-bezier(0, 0.6, 0.6, 1);
}

img {
  filter: grayscale(1) contrast(1.4);
  transition: filter .3s cubic-bezier(0, .5, 0, 1);
}

#cap:hover img, #cap:focus img { filter: grayscale(0) contrast(1) }
#cap:active { transform: translateY(3px) rotateZ(1deg) }
#cap:focus { outline: none }

.text-container {
  animation: text-slide-in .8s var(--timing);
  margin: 20px 0 40px;
  transform: rotateY(30deg) rotateZ(12deg) rotateX(20deg);
}

h1 {
  color: var(--text-color);
  font-family: 'Fredoka One', sans-serif;
  font-size: 56px;
  font-weight: normal;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgb(255 255 255 / 0.87);
    --background-color: #121212;
  }
}

@keyframes cap-slide-in {
  from {
    transform: translateY(calc(-1 * var(--slide-in-distance)));
    opacity: 0;
  }
  10% { opacity: 0 }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes text-slide-in {
  from {
    transform: rotateY(30deg) rotateZ(12deg) rotateX(20deg) translateY(var(--slide-in-distance));
    opacity: 0;
  }
  10% { opacity: 0 }
  to {
    transform: rotateY(30deg) rotateZ(12deg) rotateX(20deg) translateY(0);
    opacity: 1;
  }
}
